/* this is how to write invisible notes in css*/

/*
<header>
	<img src="img/profile.jpg">
	<h1>Wreck-it Ralph</h1>
</header>
*/

html, body{
	font-family: Courier New, sans-serif; 
	margin: 0; /*removes the white border around the page in chrome, if this doesn't work can try padding*/
}

header{
	background-color: #f2d3ea;
	padding: 40px; /*here all padding are the same*/
	/* 
	  > if we want all different sizes padding: (top)40px (left)20px (buttom)10px (right)90px;
	  > if we want top buttom and left right the same padding: (top/buttom)40px (left/right)20px;
	*/
	text-align: center;
}

h1{
	font-size: 30px;
	color: white;
}

header img{
	/* border-radius: 150px; */
	/*Specifies the radius of a quarter circle or ellipse that forms the corners of the outer-edge of the border area of a box. 
	It require a border for it to take effect*/
	width:300px;
	/* border: 10px solid #ab0c36; */ 
}

.content{
	max-width: 960px;
	margin: 0 auto;
	color: #5f6363;
	text-align: center;
}

img.big-image{
	max-width: 100%; /*the image will take the max width possible in the browser depending on the size and responsive with the screensize"*/
}

p.caption{
	font.size: 16px;
	color: lightgrey;
	font-style: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color:#ab0c36;
	text-decoration: none;
}

footer{
	margin-top: 20px; 
	padding: 40px 20px;
	background-color: #c1d2d4;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 0 5px;

}


/* Start the Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
* {box-sizing: border-box}
body {font-family: Courier New, sans-serif;}

.navbar a:hover {
  background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #b2006e;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center; /* If you want the text to be left-aligned on small screens */
  }
}
/* End of the style for navigation menu*/


/* Style for SLIDESHOW */
* {box-sizing: border-box}
body {font-family: Courier New, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* Ends of SLIDESHOW */


/* 3 columns content starts here */
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  /* height: 300px;  removed, so it does not overlaps with other text below */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img.column-image {
	max-width: 250px
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 750px) {
  .column {
    width: 100%;
    text-align: center; /* If you want the text to be left-aligned on small screens */
  }
}
/* Ends 3 columns content */


/* 2 columns content starts here */
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 430px;
  text-align: left;
  vertical-align: center; 

}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

img.column-image2 {
	max-width: 450px;
  /*need to calculate margin top / bottom to have image vertically center, vertically-align does not work*/
  margin-top: 67px;
  margin-bottom: 67px;
}

/* Add responsiveness - on screens less than 900px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 900px) {
  .column2 {
    width: 100%;
    text-align: center; /* If you want the text to be left-aligned on small screens */
  }
  .column-image2{
    width: 100%
  }
}
/* Ends 2 columns content */